@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

body {
  color: #fff;
  font-family: Maximum Impact;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(29, 69, 177, 0.61);
  border-radius: 10px;
}
